html, body {
  height: auto;
  background: black;
  color: white;
  margin: 0;
}

#page {
  background: black;
  color: white;
  height: 100%;
}
#command-input {
  width: 100%;
}

.page-input {
  margin: 5px 0px 0px 0px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

textarea {
  width: 100%;
}
